<div class="container my-2">
  <div class="col-10 cursor-point">
    <h3><i class="bi bi-arrow-left me-3 cursor-point" title="Back" (click)="backPage()"></i></h3>
  </div>
  <div class="text-center mb-4">
    <h2 class="headline">Discover</h2>
    <div class="search-box">
      <div class="input-group w-50 mx-auto">
        <input type="text" class="form-control" placeholder="Search..." name="searchQuery" (input)="searchInput()"
          [(ngModel)]="searchQuery" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="searchDropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ searchType }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="searchDropdown">
            <li><a class="dropdown-item" (click)="setSearchType('Article')">Article</a></li>
            <li><a class="dropdown-item" (click)="setSearchType('Author')">Author</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-4">
    <div class="row mb-4 mt-5 ">
      <div class="col-md-12 d-flex align-items-center">
        <h3 class="section-title">Reader's Choice</h3>
      </div>
    </div>
    <div class="row ">
      <div class="col-12" *ngIf="(artList$ | async) as articleList">
        <div class="row" *ngIf="articleList.length">
          <div class="col-12 d-flex mb-3">
            <div class="card small-card mx-2 cards-width"
              *ngFor="let list of articleList | slice : 0 : 5; let i = index" [title]="list.title">
              <img class="card-img-top cardimg" [src]="list.image" alt="Card image">
              <div class="card-body cursor-point">
                <h6 class="card-title text-center overflow-text" (click)="clickCard(list)">{{ list.title }}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="articleList.length === 0">
          <div class="col-12  mb-3">
            <h4 class="text-center text-danger"> NO Records found !!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-3 mb-4">
      <div class="col-md-12 d-flex align-items-center">
        <h3 class="section-title">Rising Authors</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12" *ngIf="(authorList$ | async) as articleList">
        <div class="row" *ngIf="articleList.length">
          <div class="col-12 d-flex mb-3">
            <div class="card  small-card mx-2 cards-width" 
              *ngFor="let list of reversingList(articleList) | slice : 0 : 5; let i = index" [title]="list.title">
              <img class="card-img-top cardimg" [src]="list.image" alt="Card image">
              <div class="card-body cursor-point">
                <h6 class="card-title text-center overflow-text" (click)="clickCard(list)">{{ list.author }}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="articleList.length === 0">
          <div class="col-12  mb-3">
            <h4 class="text-center text-danger"> NO Records found !!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>